wolfe-onBoardTest-previous-net/

*.S
*.s
*tracefile
*~

/test_data.h
/fann_conf.h
/fann_net.h
/training
*/build/*

# Created executables
perftest_train
perftest_test
perftest_test_fixed


# Created by https://www.gitignore.io/api/keil
# Edit at https://www.gitignore.io/?templates=keil

### Keil ###
# something maybe need to add
# *.bat  # generate batch file
# output/project_name # uv project generate without file ext
# *.SRC # generate source file
# *.src

# Prerequisites
*.d
*.dep
# Object files
*.o
*.obj
*.OBJ

# Listing Files
*.COD
*.cod
*.[Ii]
*.LST
*.lst
*.MAP
*.map
*.[Mm]51
*.[Mm]66
*.SCR
*.scr

# LINK output
*.ABS

# Libraries
*.lib
*.LIB


# uv output
*.lnp
*.build_log.htm
*.HEX
*.hex


# Build Files
*._IA
*.__[Ii]
*._[Ii][Ii]

# project
*.uvgui.*
*.uvguix.*


# End of https://www.gitignore.io/api/keil

# others
*.crf
*.iex
*.axf
*.htm
*.sct
